# Redirect old file path to new file path
Redirect /deck https://drive.google.com/file/d/0B9_gwv2sp82kOFNVMDVpODdPQzQ/view?usp=sharing
Redirect /fb https://www.facebook.com/pages/Breathcount/642704245848031
Redirect /facebook https://www.facebook.com/pages/Breathcount/642704245848031
Redirect /twitter https://twitter.com/breathcountcom
Redirect /skype skype:breathcount?chat
Redirect /alpha  https://play.google.com/apps/testing/lt.segfoltas.breathcount.alpha
Redirect /onepager https://drive.google.com/file/d/0B9_gwv2sp82kcVFwX3k2Q3dHajA/view?usp=sharing
Redirect /deck-investors https://drive.google.com/file/d/0B9_gwv2sp82keHRPeFlmdHd2M3c/view?usp=sharing
Redirect /video https://youtu.be/5sywiidGeGo
Redirect /phone tel:+37062356228
Redirect /call tel:+37062356228
Redirect /share-summary mailto:name1@mail.com,name2@mail.com?cc=povilas@breathcount.com&subject=Breathcount%20intro