# Redirect old file path to new file path
Redirect /deck https://drive.google.com/file/d/0B9_gwv2sp82kOFNVMDVpODdPQzQ/view?usp=sharing
Redirect /fb https://www.facebook.com/pages/Breathcount/642704245848031
Redirect /facebook https://www.facebook.com/pages/Breathcount/642704245848031
Redirect /twitter https://twitter.com/breathcountcom
Redirect /skype skype:breathcount?chat
Redirect /alpha https://play.google.com/apps/testing/lt.segfoltas.breathcount.alpha